# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# dotenv environment files
*.env
.env.*

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Test / coverage / logs
*.log
.coverage
htmlcov/
.tox/
.nox/
pytest_cache/
coverage.xml

# PyInstaller
build/
dist/
*.spec

# pip
pip-log.txt
pip-delete-this-directory.txt

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# FastAPI Swagger cache (if used)
*.sqlite3

# Secret files
.env